<!DOCTYPE html>
<html>
    <head th:include="/common/base/metaInfo :: commonHeader (title='管理者TOP', theme='admin')" >
        <title>管理画面TOP</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../../../css/normalize.css" />
        <link rel="stylesheet" href="../../../css/base.css" />
        <link rel="stylesheet" href="../../../css/admin/admin-base.css" />
        <link rel="stylesheet" href="../../../css/admin/theme.css" />
    </head>
    <body>
        <link rel="stylesheet" href="../../../css/admin/top.css" th:href="@{/css/admin/top.css}" />
        <article class="bs-content-area">
            <section class="ad-bs-header-menu">
                <nav class="ad-bs-bread-crumbs">
                    <ol>
                        <li>管理画面</li>
                    </ol>
                </nav>
            </section>
            <section class="menus">
                <dl>
                    <dt><a href="reviews/list.html" th:href="@{/admin/reviews}">レビューの管理</a></dt>
                    <dd>レビューの登録/編集/削除を行う。</dd>
                    <dt><a href="genres/list.html" th:href="@{/admin/genres}">ジャンルの管理</a></dt>
                    <dd>ゲームジャンルの登録/編集/削除を行う。</dd>
                    <dt><a href="games/list.html" th:href="@{/admin/games}">ゲームの管理</a></dt>
                    <dd>ゲームの登録/編集/削除を行う。</dd>
                    <dt><a href="users/list.html" th:href="@{/admin/users}">ユーザの管理</a></dt>
                    <dd>ユーザの登録/編集/削除を行う。</dd>
                </dl>
            </section>
            <section class="command">
                <a href="../top/top.html" th:href="@{/top}">TOPに戻る</a>
            </section>
        </article>
    </body>
</html>
