<!DOCTYPE html>
<html>
    <head th:include="/common/base/metaInfo :: commonHeader (title='管理者TOP')" >
        <title th:text="${title}">テストタイトル</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/normalize.css}" />
        <link rel="stylesheet" th:href="@{/css/base.css}" />
    </head>
    <body>
        <dl>
            <dt>
            <a href="">レビューの管理</a>
            </dt>
            <dd></dd>
            <dt>ジャンルの管理</dt>
            <dd></dd>
        </dl>
    </body>
</html>
