<!DOCTYPE html>
<html>
    <head th:include="/common/base/metaInfo :: commonHeader (title='ゲーム一覧')" >
        <title>ゲーム一覧</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/normalize.css}" />
        <link rel="stylesheet" th:href="@{/css/base.css}" />
        <link rel="stylesheet" th:href="@{/css/pager.css}" />
    </head>
    <body>
        <section class="search-condition">
            <button class="clear-button">クリア</button>
            <form th:action="@{/admin/reviews/search}" method="get" id="search-form">
                <input type="hidden" name="pageNumber" class="page-number" />
                <dl>
                    <dt>FROM</dt>
                    <dd><input type="text" name="range.from" th:value="${it.condition.range.from}" /></dd>
                    <dt>TO</dt>
                    <dd><input type="text" name="range.to" th:value="${it.condition.range.to}" /></dd>
                    <dt>タイトル</dt>
                    <dd><input type="text" name="gameCondition.title" th:value="${it.condition.gameCondition.title}" /></dd>
                    <dt>ジャンル</dt>
                </dl>
                <button>検索</button>
            </form>
        </section>
        <section class="command">
            <button class="create-button" th:attr="data-create-url=@{/admin/game/create}">新規作成</button>
        </section>
        <section class="search-result">
            <div th:replace="/common/component/pager :: pager(pagerInfo=${it.pager}, appendClass=review-list-pager)"></div>
            <table class="bs-list">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>投稿日時</th>
                        <th>タイトル</th>
                        <th>ジャンル</th>
                        <th>CERO</th>
                        <th>削除[未実装]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="reviewInfo,stats : ${it.reviews}">
                        <td th:text="${stats.count}"></td>
                        <td th:text="${reviewInfo.postDatetime.value}">2015/01/01 01:01</td>
                        <td>
                            <a th:href="@{/admin/review/{reviewId}(reviewId=${reviewInfo.reviewId})}" th:text="${reviewInfo.game.title}">ゲームタイトル</a>
                        </td>
                        <td th:text="${reviewInfo.game.genreName}">ユーザ名</td>
                        <td>
                            <span th:text="${reviewInfo.game.ceroRating.label}">CC</span>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div th:replace="/common/component/pager :: pager(pagerInfo=${it.pager}, appendClass=review-list-pager)"></div>
        </section>
        <script>
            $(document).ready(function(event) {
                var $searchForm = $("form#search-form");
                $(".create-button").on("click", function(event) {
                    var $self = $(this);
                    location.href = $self.data("create-url");
                });
                $(".clear-button").on("click", function(event) {
                    $("#search-form").find("input").val("");
                });

                $(".review-list-pager").on("click", "button", function(event) {
                    var $this = $(this);
                    $searchForm.find(".page-number").val($this.data("pager-number"));

                    $searchForm.submit();
                });
            });
        </script>
    </body>
</html>
