<!DOCTYPE html>
<html>
    <head th:include="/common/base/metaInfo :: commonHeader (title='レビュー一覧')" >
        <title>レビュー一覧</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/normalize.css}" />
        <link rel="stylesheet" th:href="@{/css/base.css}" />
        <link rel="stylesheet" th:href="@{/css/pager.css}" />
    </head>
    <body>
        <section class="bread-crumbs">
            <nav class="bs-bread-crumbs">
                <ol>
                    <li><a th:href="@{/admin}">管理画面</a></li>
                    <li>レビュー一覧</li>
                </ol>
            </nav>
        </section>
        <section class="search-condition">
            <button class="clear-button">クリア</button>
            <form th:action="@{/admin/reviews/search}" method="get" id="search-form">
                <input type="hidden" name="pageNumber" class="page-number" value="1"/>
                <dl>
                    <dt>FROM</dt>
                    <dd><input type="text" class="from-date" name="from" th:value="${it.condition.from}" /></dd>
                    <dt>TO</dt>
                    <dd><input type="text" class="to-date" name="to" th:value="${it.condition.to}" /></dd>
                    <dt>タイトル</dt>
                    <dd><input type="text" name="title" th:value="${it.condition.title}" /></dd>
                    <dt>ジャンル</dt>
                </dl>
                <button class="search-button">検索</button>
            </form>
        </section>
        <section class="command">
            <button class="game-search-button" th:attr="data-search-url=@{/admin/games}">ゲームを探す</button>
        </section>
        <section class="search-result">
            <div th:replace="/common/component/pager :: pager(pagerInfo=${it.pager}, appendClass=review-list-pager)"></div>
            <table class="bs-list">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>投稿日時</th>
                        <th>タイトル</th>
                        <th>ジャンル</th>
                        <th>CERO</th>
                        <th>削除[未実装]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="reviewInfo,stats : ${it.reviews}">
                        <td th:text="${stats.count}"></td>
                        <td th:text="${reviewInfo.postDateTime.format()}">2015/01/01 01:01</td>
                        <td>
                            <a th:href="@{/admin/review/{reviewId}(reviewId=${reviewInfo.reviewId})}" th:text="${reviewInfo.game.title}">ゲームタイトル</a>
                        </td>
                        <td th:text="${reviewInfo.game.genreName}">ユーザ名</td>
                        <td>
                            <span th:text="${reviewInfo.game.ceroRating != null}? ${reviewInfo.game.ceroRating.label} : ''">CC</span>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div th:replace="/common/component/pager :: pager(pagerInfo=${it.pager}, appendClass=review-list-pager)"></div>
        </section>
        <script>
            $(document).ready(function(event) {
                var $searchForm = $("form#search-form");

                var isMatchPattern = function(inputValue) {

                    if (inputValue === "") {

                        return true;
                    }

                    if (inputValue.length === 8) {

                        return /[0-9]{8}/.test(inputValue);
                    }

                    if (inputValue.length === 10) {

                        var slashStyle = /[0-9]{4}\/[01]?[0-9]\/[0123]?[0-9]$/;
                        var hyphenStyle = /[0-9]{4}-[01]?[0-9]-[0123]?[0-9]$/

                        return slashStyle.test(inputValue) || hyphenStyle.test(inputValue);
                    }

                    return false;
                }

                var validateForm = function() {

                    var fromDate = $searchForm.find(".from-date").val();
                    var toDate = $searchForm.find(".to-date").val();
                    var validateReulst = {
                        hasError: false,
                        messages: []
                    };

                    if (!isMatchPattern(fromDate)) {

                        validateReulst.hasError = true;
                        validateReulst.messages.push("FROMの入力形式に不備があります。");
                    }

                    if (!isMatchPattern(toDate)) {

                        validateReulst.hasError = true;
                        validateReulst.messages.push("TOの入力形式に不備があります。");
                    }

                    return validateReulst;
                };

                $(".search-button").on("click", function(event) {
                   
                    event.preventDefault();
                    var result = validateForm();
                    if (result.hasError) {

                        var message = "入力内容に不備があります。";

                        result.messages.forEach(function(item) {

                            message += "\r" + item;
                        });

                        alert(message);
                        return false;
                    }
 
                    $searchForm.submit();
                    return true;
                });

                $(".game-search-button").on("click", function(event) {
                    var $self = $(this);
                    location.href = $self.data("search-url");
                });
                $(".clear-button").on("click", function(event) {
                    $("#search-form").find("input").val("");
                });

                $(".review-list-pager").on("click", "button", function(event) {
                    var $this = $(this);
                    $searchForm.find(".page-number").val($this.data("pager-number"));

                    $searchForm.submit();
                });
            });
        </script>
    </body>
</html>
