<!DOCTYPE html>
<html>
    <head th:include="/common/base/metaInfo :: commonHeader (title='ゲーム一覧')" >
        <title>ゲーム一覧</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/normalize.css}" />
        <link rel="stylesheet" th:href="@{/css/base.css}" />
        <link rel="stylesheet" th:href="@{/css/pager.css}" />
    </head>
    <body>
        <section class="search-condition">
            <button class="clear-button">クリア</button>
            <form th:action="@{/admin/games/search}" method="get" id="search-form">
                <input type="hidden" name="pageNumber" class="page-number" />
                <dl>
                    <dt>タイトル</dt>
                    <dd><input type="text" name="title" th:value="${it.condition.title}" /></dd>
                    <dt>ジャンル</dt>
                    <dd>
                        <select name="genre">
                            <option value="">--</option>
                        </select>
                    </dd>
                </dl>
                <button>検索</button>
            </form>
        </section>
        <section class="command">
            <button class="create-button" th:attr="data-create-url=@{/admin/game/create}">新規作成</button>
        </section>
        <section class="search-result">
            <div th:replace="/common/component/pager :: pager(pagerInfo=${it.pager}, appendClass=game-list-pager)"></div>
            <table class="bs-list">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>タイトル</th>
                        <th>ジャンル</th>
                        <th>CERO</th>
                        <th>削除[未実装]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="gameInfo,stats : ${it.games}">
                        <td th:text="${stats.count}"></td>
                        <td>
                            <a th:href="@{/admin/game/{gameId}(gameId=${gameInfo.gameId})}" th:text="${gameInfo.title}">ゲームタイトル</a>
                        </td>
                        <td th:text="${gameInfo.genreName}">ユーザ名</td>
                        <td>
                            <span th:text="${gameInfo.ceroRating.label}">CC</span>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div th:replace="/common/component/pager :: pager(pagerInfo=${it.pager}, appendClass=game-list-pager)"></div>
        </section>
        <script>
            $(document).ready(function(event) {
                var $searchForm = $("form#search-form");
                $(".create-button").on("click", function(event) {
                    var $self = $(this);
                    location.href = $self.data("create-url");
                });
                $(".clear-button").on("click", function(event) {
                    $("#search-form").find("input").val("");
                });

                $(".game-list-pager").on("click", "button", function(event) {
                    var $this = $(this);
                    $searchForm.find(".page-number").val($this.data("pager-number"));

                    $searchForm.submit();
                });
            });
        </script>
    </body>
</html>
