/*
配色メモ
テーマカラー	#d8b96d
全体の背景 #fdeba9
メニュー	#b7a483
ロゴ	#555555
本文見出し1	#e5bf63
本文見出し2	#fee58a
サイドバー見出し #ffe7d2
サイドバー背景	#fff7f0
*/

* {
    box-sizing: border-box;
}

body {
    font-size : 16px;
}

ul {
    list-style:  none;
    padding-left : 0px;
}

.bs-content-area {
    margin : 0 auto;
    width : 1000px;
}

.bs-content {
    display: flex;
}

.bs-sub-menu {
    width : 200px;
}

.bs-main-contents {
    width : 800px;
}

ul.bs-error-message {
    border-style: solid;
    border-width: 2px;

    padding: 8px;
}

ul.bs-error-message > li {
    font-weight: bold;
    margin-bottom: 0.5em;
}
ul.bs-error-message > li:last-child {
    margin-bottom: 0px;
}

textarea.bs-review-text {
    width: 800px;
    height: 400px;
    overflow: scroll;
}

nav.bs-bread-crumbs {
    margin-top: 8px;
    margin-bottom: 8px;
}

nav.bs-bread-crumbs > ol {    
    display: flex;
    padding-left: 0px;
    list-style: none;
}

nav.bs-bread-crumbs > ol > li:before {
    content: ">";
    margin-left: 4px;
    margin-right: 4px;
    list-style: none;
}

nav.bs-bread-crumbs > ol > li {
    font-weight: bold;
}