/*
配色メモ
テーマカラー	#D8B96D
全体の背景#FDEBA9
メニュー	#B7A483
ロゴ	#555555
本文見出し1	#E5BF63
本文見出し2	#FEE58A
サイドバー見出し#FFE7D2
サイドバー背景	#FFF7F0
*/

* {
    box-sizing: border-box;
}

body {
    background-color : #fdeba9;
    font-size : 16px;
}

ul {
    list-style:  none;
    padding-left : 0px;
}

table.bs-list {
    border-collapse: collapse;
    background-color: #fff;
    margin-top : 8px;
    margin-bottom : 8px;
    width: 100%;
}

table.bs-list > thead > tr,
table.bs-list > tbody > tr {
    border : solid 1px #000;
}

table.bs-list > tbody > tr:nth-child(even) {
    background-color : #e0ffff;
}

table.bs-list > thead > tr > th {
    border : solid 1px #000;
    background-color : #dcdcdc;
    padding : 4px;
}

table.bs-list > tbody > tr > td {
    border : solid 1px #000;
    padding : 4px;
}

.bs-content-area {
    background-color: #fff;
    margin : 0 auto;
    width : 1000px;
}

.bs-content {
    display: flex;
}

.bs-left-menu {
    width : 200px;
}

.bs-main-contents {
    width : 800px;
}

ul.bs-error-message {
    border: solid 2px #ff0000;
    background-color: #ff9999;
    padding: 8px;
}
ul.bs-error-message > li {
    color: #ff0000;
    font-weight: bold;
    margin-bottom: 0.5em;
}
ul.bs-error-message > li:last-child {
    margin-bottom: 0px;
}

textarea.bs-review-text {
    width: 800px;
    height: 400px;
    overflow: scroll;
}

nav.bs-bread-crumbs {
    margin-top: 8px;
    margin-bottom: 8px;
}

nav.bs-bread-crumbs > ol {    
    display: flex;
    padding-left: 0px;
    list-style: none;
}

nav.bs-bread-crumbs > ol > li:before {
    content: ">";
    margin-left: 4px;
    margin-right: 4px;
    list-style: none;
}

nav.bs-bread-crumbs > ol > li {
    font-weight: bold;
}