<!DOCTYPE html>
<html>
    <head th:include="/common/base/metaInfo :: commonHeader (title='ユーザ一覧')" >
        <title>ユーザ一覧</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/normalize.css}" />
        <link rel="stylesheet" th:href="@{/css/base.css}" />
    </head>
    <body>
        <section class="search-condition">
            <form th:action="@{/admin/users/search}" method="post">
                <button>クリア</button>
                <dl>
                    <dt>ログインID</dt>
                    <dd><input type="text" name="loginId" th:value="${it.condition.loginId}" /></dd>
                    <dt>ユーザ名</dt>
                    <dd><input type="text" name="userName" th:value="${it.condition.userName}" /></dd>
                </dl>
                <button>検索</button>
            </form>
        </section>
        <section class="search-result">
            <table class="bs-list">
                <thead>
                    <tr>
                        <th rowspan="2">No.</th>
                        <th rowspan="2">ログインID</th>
                        <th rowspan="2">ユーザ名</th>
                        <th colspan="2">権限</th>
                    </tr>
                    <tr>
                        <th th:text="${it.authorityConfigChangeLabel}">レビュー投稿</th>
                        <th th:text="${it.authorityReviewPostLabel}">設定変更</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="userInfo,stats : ${it.users}">
                        <td th:text="${stats.count}"></td>
                        <td>
                            <a th:href="@{/admin/user/{userId}(userId=${userInfo.userId})}" th:text="${userInfo.loginId}">ログインIDテスト</a>
                        </td>
                        <td th:text="${userInfo.userName}">ユーザ名</td>
                        <td>
                            <span th:if="${userInfo.configChangeable}">○</span>
                        </td>
                        <td>
                            <span th:if="${userInfo.reviewPostenable}">○</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </body>
</html>
