<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Top Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../../../../css/normalize.css" th:href="@{/css/normalize.css}" />
        <link rel="stylesheet" href="../../../../css/base.css" th:href="@{/css/base.css}" />
    </head>
    <body>
        <div class="bs-top-menu" th:fragment="errorMessage(messages)">
            <ul class="bs-error-message" th:if="${messages.hasError()}" >
                <li th:each="message : ${messages.toList()}" th:text="${message.getMessage()}">テストメッセージ1</li>
                <li th:remove="all">テストメッセージ2</li>
                <li th:remove="all">テストメッセージ3</li>
            </ul>
        </div>
    </body>
</html>
