<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Top Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../../../../css/normalize.css" th:href="@{/css/normalize.css}" />
        <link rel="stylesheet" href="../../../../css/base.css" th:href="@{/css/base.css}" />
        <link rel="stylesheet" href="../../../../css/pager.css" th:href="@{/css/pager.css}" />
        <link rel="stylesheet" href="../../../../css/user/theme.css" th:href="@{/css/user/theme.css}" th:if="${theme != 'admin'}" />
    </head>
    <body>
        <div class="bs-top-menu" th:fragment="pager(pagerInfo, appendClass)">
            <ul class="bs-pager" th:classappend="${!#strings.isEmpty(appendClass)} ? ${appendClass}">
                <li class="prev-page" th:classappend="${pagerInfo.prevActive}? '' : 'st-not-view'">
                    <button th:attr="data-pager-number=${pagerInfo.currentPage} - 1">&lt;&lt;前へ</button>
                </li>
                <li class="pager-number" th:each="pageNumber: ${pagerInfo.pages}" th:classappend="${pagerInfo.currentPage == pageNumber? 'bs-current' : ''}">
                    <button th:attr="data-pager-number=${pageNumber}" th:text="${pageNumber}">1</button>
                </li>
                <li class="next-page"  th:classappend="${pagerInfo.nextActive}? '' : 'st-not-view'">
                    <button th:attr="data-pager-number=${pagerInfo.currentPage} + 1">次へ&gt;&gt;</button>
                </li>
            </ul>
        </div>
    </body>
</html>
