<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Top Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../../../../css/normalize.css" th:href="@{/css/normalize.css}" />
        <link rel="stylesheet" href="../../../../css/base.css" th:href="@{/css/base.css}" />
        <link rel="stylesheet" href="../../../../css/user/theme.css" th:href="@{/css/user/theme.css}" th:if="${theme != 'admin'}" />
    </head>
    <body>
        <div class="cp-top-menu" th:fragment="topMenu">
            <link rel="stylesheet" href="../../../../css/user/top-menu.css" th:href="@{/css/user/top-menu.css}" />
            <div class="menus">
                <ul class="right-menu">
                    <li><a href="" th:href="@{/top}" >TOP</a></li>
                    <li><a href="../../login/login.html" th:href="@{/login}" >ログイン</a></li>
                    <li><a href="">管理画面[未実装]</a></li>
                    <li><a href="">ログアウト[未実装]</a></li>
                </ul>
            </div>
            
            <div class="logo">
                <h1>
                    ゲームレビュー
                </h1>
            </div>
        </div>
    </body>
</html>
