div.fm-review {
    padding: 8px;
}


div.fm-review ul.reviews {
    margin: 0px;
}

div.fm-review ul.reviews > li {
    margin-bottom: 80px;
}

div.fm-review article.review section {
    margin-top: 24px;
}

div.fm-review article.review p {
    margin-top: 8px;
    margin-bottom: 8px;
}

div.fm-review article.review h2 {
    border-left-width: 8px;
    border-left-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 4px;
}

div.fm-review article.review h3 {
    border-left-width: 8px;
    border-left-style: solid;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 8px;
}

div.fm-review article.review dl.update-datetime {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}

div.fm-review article.review dl.update-datetime > dt {
    margin-left: 20px;
}

div.fm-review article.review dl.update-datetime > dt:after {
    content: "[";
    margin-left: 4px;
    margin-right: 4px;
}

div.fm-review article.review dl.update-datetime > dd {
    margin: 0px;
}

div.fm-review article.review dl.update-datetime > dd:after {
    content: "]";
    margin-left: 4px;
}

div.fm-review article.review dl.points {
    border-right-width: 1px;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 3em;
    margin: 0px;
}

div.fm-review article.review dl.points > dt {
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 1.5em;
    text-align: center;
}

div.fm-review article.review dl.points > dd {
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 1.5em;
    margin:0px;
    text-align: center;
}