div.cp-top-menu {
    overflow: hidden;
}

div.cp-top-menu > h1 {
    background-color: #b7ac83;
    color: #fff;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 48px;
    width: 60%;
}
div.cp-top-menu > ul.right-menu {
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 48px;
    width: 40%;
    text-align: right;
}

ul.right-menu {
    display: flex;
    background-color: #ffe7d2;
}


ul.right-menu > li {
    margin-left: 8px;
}
