<!DOCTYPE html>
<html>
    <head th:fragment="commonHeader">
        <title>レビューページ</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../../../css/normalize.css" th:href="@{/css/normalize.css}" />
        <link rel="stylesheet" href="../../../css/base.css" th:href="@{/css/base.css}" />
        <link rel="stylesheet" href="../../../css/user/theme.css" th:href="@{/css/user/theme.css}" th:if="${theme != 'admin'}" />
    </head>
    <body>
        <div class="cp-review-list" th:fragment="reviewList (reviewListView)">
            <link rel="stylesheet" href="../../../css/user/review-list.css" th:href="@{/css/user/review-list.css}" />
            <p th:if="${reviewListView.reviews.isEmpty()}" >条件に一致するレビューが見つかりませんでした。</p>

            <ul class="reviews">
                <li th:each="review,stat : ${reviewListView.reviews}">
                    <article class="review">
                        <h2>
                            <a class="title-link" href="" th:href="@{/review/id/{id}(id=${review.reviewId})}" th:text="${review.title}">タイトル</a>
                        </h2>
                        <section>
                            <dl class="tuples genre">
                                <dt>ジャンル</dt>
                                <dd th:text="${review.genreName}">テストジャンル</dd>
                            </dl>
                            <dl class="tuples posted-datetime">
                                <dt>投稿日時</dt>
                                <dd th:text="${review.postDateTime.format()}">2016/01/01 12:30</dd>
                            </dl>
                            <dl class="tuples update-datetime">
                                <dt>最終更新日時</dt>
                                <dd th:text="${review.lastUpdateDateTime.format()}">2016/02/03 09:04</dd>
                            </dl>
                        </section>
                        <section>
                            <dl class="points">
                                <dt>熱中度</dt>
                                <dd th:text="${review.addictionScore.label}">5点</dd>
                                <dt>ストーリー</dt>
                                <dd th:text="${review.storyScore.label}">4点</dd>
                                <dt>操作性</dt>
                                <dd th:text="${review.operabilityScore.label}">3点</dd>
                                <dt>ロード時間</dt>
                                <dd th:text="${review.loadTimeScore.label}">2点</dd>
                                <dt>音楽</dt>
                                <dd th:text="${review.musicScore.label}">1点</dd>
                            </dl>
                        </section>
                    </article>
                </li>
                <li th:remove="all">
                    <article class="review">
                        <h2>
                            <a class="title-link" href="">タイトル</a>
                        </h2>
                        <section>
                            <dl class="tuples genre">
                                <dt>ジャンル</dt>
                                <dd>テストジャンル</dd>
                            </dl>
                            <dl class="tuples posted-datetime">
                                <dt>投稿日時</dt>
                                <dd>2016/01/01 12:30</dd>
                            </dl>
                            <dl class="tuples update-datetime">
                                <dt>最終更新日時</dt>
                                <dd>2016/02/03 09:04</dd>
                            </dl>
                        </section>
                        <section>
                            <dl class="points">
                                <dt>熱中度</dt>
                                <dd>5点</dd>
                                <dt>ストーリー</dt>
                                <dd>4点</dd>
                                <dt>操作性</dt>
                                <dd>3点</dd>
                                <dt>ロード時間</dt>
                                <dd>2点</dd>
                                <dt>音楽</dt>
                                <dd>1点</dd>
                            </dl>
                        </section>
                    </article>
                </li>
                <li th:remove="all">
                    <article class="review">
                        <h2>
                            <a class="title-link" href="">タイトル</a>
                        </h2>
                        <section>
                            <dl class="tuples genre">
                                <dt>ジャンル</dt>
                                <dd>テストジャンル</dd>
                            </dl>
                            <dl class="tuples posted-datetime">
                                <dt>投稿日時</dt>
                                <dd>2016/01/01 12:30</dd>
                            </dl>
                            <dl class="tuples update-datetime">
                                <dt>最終更新日時</dt>
                                <dd>2016/02/03 09:04</dd>
                            </dl>
                        </section>
                        <section>
                            <dl class="points">
                                <dt>熱中度</dt>
                                <dd>5点</dd>
                                <dt>ストーリー</dt>
                                <dd>4点</dd>
                                <dt>操作性</dt>
                                <dd>3点</dd>
                                <dt>ロード時間</dt>
                                <dd>2点</dd>
                                <dt>音楽</dt>
                                <dd>1点</dd>
                            </dl>
                        </section>
                    </article>
                </li>
            </ul>
        </div>
    </body>
</html>
