<!DOCTYPE html>
<html>
    <head th:fragment="commonHeader">
        <title>レビューページ</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../../../css/normalize.css" th:href="@{/css/normalize.css}" />
        <link rel="stylesheet" href="../../../css/base.css" th:href="@{/css/base.css}" />
    </head>
    <body>
        <div class="fm-review" th:fragment="reviewArea (reviewView)">
            <ul th:each="review : ${reviewView.reviews}">
                <li>
                    <article>
                        <h2 th:text="${review.title}">テストタイトル</h2>
                        <dl>
                            <dt>熱中度</dt>
                            <dd>5点</dd>
                            <dt>ストーリー</dt>
                            <dd>4点</dd>
                            <dt>操作性</dt>
                            <dd>3点</dd>
                            <dt>ロード時間</dt>
                            <dd>2点</dd>
                            <dt>音楽</dt>
                            <dd>1点</dd>
                        </dl>
                        <h3>良い点</h3>
                        <p>
                            <div th:each="goodPoint : ${review.goodPoint}" th:text="${goodPoint}">テスト</div>
                        </p>
                        <h3>悪い点</h3>
                        <p>
                            <div th:each="badPoint : ${review.badPoint}" th:text="${badPoint}">テスト</div>
                        </p>
                        <h3>コメント</h3>
                        <p>
                            <div th:each="comment : ${review.comment}" th:text="${comment}">テスト</div>
                        </p>
                    </article>
                </li>
            </ul>
        </div>
    </body>
</html>
