<!DOCTYPE html>
<html>
    <head th:fragment="commonHeader">
        <title>レビューページ</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../../../css/normalize.css" th:href="@{/css/normalize.css}" />
        <link rel="stylesheet" href="../../../css/base.css" th:href="@{/css/base.css}" />
    </head>
    <body>
        <div class="fm-review" th:fragment="reviewArea (reviewView)">
            <ul th:each="review : ${reviewView.reviews}">
                <li>
                    <h2 th:text="${review.title}">テストタイトル</h2>
                    <dl>
                        <dt>熱中度</dt>
                        <dd>5点</dd>
                        <dt>ストーリー</dt>
                        <dd>4点</dd>
                        <dt>操作性</dt>
                        <dd>3点</dd>
                        <dt>ロード時間</dt>
                        <dd>2点</dd>
                        <dt>音楽</dt>
                        <dd>1点</dd>
                    </dl>
                    <h3>良い点</h3>
                    <p th:text="${review.goodPoint}">
                        テストテストテスト。
                    </p>
                    <h3>悪い点</h3>
                    <p th:text="${review.badPoint}">
                        テストテストテスト。
                    </p>
                    <h3>コメント</h3>
                    <p th:text="${review.comment}">
                        テストテストテスト。
                    </p>
                </li>
            </ul>
        </div>
    </body>
</html>
