<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>ジャンル検索</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../../../css/normalize.css" th:href="@{/css/normalize.css}" />
        <link rel="stylesheet" href="../../../css/base.css" th:href="@{/css/base.css}" />
        <link rel="stylesheet" href="../../../css/user/theme.css" th:href="@{/css/user/theme.css}" th:if="${theme != 'admin'}" />
    </head>
    <body>
        <div class="cp-genre-search" th:fragment="genreSearch">
            <link rel="stylesheet" href="../../../css/user/genre-search.css" th:href="@{/css/user/genre-search.css}" />
            <dl>
                <dt>ジャンル検索</dt>
                <dd th:each="genre : ${it.genreSearch.genres}">
                    <a th:href="@{/genreSearch/id/{id}(id=${genre.id})}" th:text="${genre.name}">テスト</a>
                </dd>
                <dd th:remove="all">
                    <a href="#">アクション</a>
                </dd>
                <dd th:remove="all">
                    <a href="#">RPG</a>
                </dd>
            </dl>
       </div>
    </body>
</html>
