<!DOCTYPE html>
<html>
    <head th:include="/common/base/metaInfo :: commonHeader (title='Top Page')" />
    <body>
        <div class="bs-content-area">
            <div th:replace="/common/component/topMenu :: topMenu">
            </div>
            <div class="bs-content">
                <div class="bs-main-contents">
                    <div th:replace="/review/reviewList :: reviewList(reviewListView=${it.reviewList})"></div>
                </div>
                <div class="bs-sub-menu">
                    <div th:replace="/genreSearch/genreSearch :: genreSearch"></div>
                </div>
            </div>
        </div>
    </body>
</html>
