<!DOCTYPE html>
<html>
    <head th:include="/common/base/metaInfo :: commonHeader (title='Top Page')" />
    <body>
        <div class="bs-content-area">
            <div th:replace="/common/component/topMenu :: topMenu">
            </div>
            <div class="bs-left-menu">
                <div th:replace="/common/component/categorySearch :: categorySearch"></div>
            </div>
            <div class="bs-main-contents">
                <div th:replace="/review/review :: reviewArea"></div>
            </div>
        </div>
    </body>
</html>
