<!DOCTYPE html>
<html>
    <head th:include="/common/base/metaInfo :: commonHeader (title='ジャンル登録')" >
        <title>ジャンル登録</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/normalize.css}" />
        <link rel="stylesheet" th:href="@{/css/base.css}" />
    </head>
    <body>
        <div th:replace="/common/component/errorMessage :: errorMessage(messages=${it.errors})"></div>
        <section class="genre-edit">
            <form th:action="@{/admin/genre/create}" method="post" id="genre-create-form">
                <dl>
                    <dt th:text="${it.nameLabel}">ユーザ名</dt>
                    <dd><input type="text" th:value="${it.name}" name="name" /></dd>
                </dl>
            </form>
        </section>
        <section class="command">
            <button class="complete-button">新規作成</button>
            <button class="cancel-button" th:attr="data-cancel-url=@{/admin/genres}">キャンセル</button>
        </section>
        <script>
            $(document).ready(function (event) {
                $(".complete-button").on("click", function(event) {
                    $("#genre-create-form").submit();
                });
                $(".cancel-button").on("click", function (event) {
                    var $self = $(this);
                    location.href = $self.data("cancel-url");
                });
            });
        </script>
    </body>
</html>