<!DOCTYPE html>
<html>
    <head th:include="/common/base/metaInfo :: commonHeader (title='ジャンル編集', theme='admin')" >
        <title>ジャンル編集</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../../../../css/normalize.css" />
        <link rel="stylesheet" href="../../../../css/base.css" />
        <link rel="stylesheet" href="../../../../css/admin/admin-base.css" />
        <link rel="stylesheet" href="../../../../css/admin/theme.css" />
    </head>
    <body>
        <article class="bs-content-area">
            <section class="ad-bs-header-menu">
                <nav class="ad-bs-bread-crumbs">
                    <ol>
                        <li><a href="../top.html" th:href="@{/admin}">管理画面</a></li>
                        <li><a href="list.html" th:href="@{/admin/genres}">ジャンル一覧</a></li>
                        <li><a href="view.html" th:href="@{/admin/genre/{genreId}(genreId=${it.genreId})}" th:text="${it.name}">ジャンル名</a></li>
                        <li>編集</li>
                    </ol>
                </nav>
            </section>
            <section class="ad-bs-contents">
                <div th:replace="/common/component/errorMessage :: errorMessage(messages=${it.errors})"></div>
                <section class="genre-edit">
                    <form th:action="@{/admin/genre/{genreId}/edit(genreId=${it.genreId})}" method="post" id="genre-edit-form">
                        <input type="hidden" name="genreId" th:value="${it.genreId}" id="genre-id" />
                        <dl class="bs-edit-inputs">
                            <dt th:text="${it.nameLabel}">ジャンル名</dt>
                            <dd><input type="text" th:value="${it.name}" name="name" /></dd>
                        </dl>
                    </form>
                </section>
                <section class="ad-bs-commands">
                    <ul class="ad-bs-edit-buttons">
                        <li>
                            <button class="cancel-button" th:attr="data-cancel-url=@{/admin/genre/{genreId}(genreId=${it.genreId})}">キャンセル</button>
                        </li>
                        <li>
                            <button class="complete-button">編集完了</button>
                        </li>
                    </ul>                    
                </section>
            </section>
        </article>
        <script>
            $(document).ready(function (event) {
                $(".complete-button").on("click", function(event) {
                    $("#genre-edit-form").submit();
                });
                $(".cancel-button").on("click", function (event) {
                    var $self = $(this);
                    location.href = $self.data("cancel-url");
                });
            });
        </script>
    </body>
</html>