<!DOCTYPE html>
<html>
    <head th:include="/common/base/metaInfo :: commonHeader (title='ジャンル一覧')" >
        <title>ジャンル一覧</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/normalize.css}" />
        <link rel="stylesheet" th:href="@{/css/base.css}" />
    </head>
    <body>
        <section class="bread-crumbs">
            <nav class="bs-bread-crumbs">
                <ol>
                    <li><a th:href="@{/admin}">管理画面</a></li>
                    <li>ジャンル一覧</li>
                </ol>
            </nav>
        </section>
        <section>
            <form action="" method="post" th:action="@{/admin/genres/search}">
                <button>クリア</button>
                <dl>
                    <dt th:text="${it.nameLabel}">ジャンル名</dt>
                    <dd>
                        <input type="text" name="genreName" th:value="${it.condition.genreName}" />
                    </dd>
                </dl>
                <button>検索</button>
            </form>
        </section>
        <section class="command">
            <button class="create-button" th:attr="data-create-url=@{/admin/genre/create}">新規作成</button>
        </section>
        <section>
            <table class="bs-list">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th th:text="${it.nameLabel}">ジャンル名</th>
                        <th>削除[未実装]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="genreInfo,stats : ${it.genres}">
                        <td th:text="${stats.count}"></td>
                        <td>
                            <a th:href="@{/admin/genre/{genreId}(genreId=${genreInfo.id})}" th:text="${genreInfo.name}">ジャンル名</a>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <script>
            $(document).ready(function(event) {
                $(".create-button").on("click", function(event) {
                    var $self = $(this);
                    location.href = $self.data("create-url");
                });
                $(".clear-button").on("click", function(event) {
                    $("#search-form").find("input").val("");
                });
            });
        </script>
    </body>
</html>
