<!DOCTYPE html>
<html>
    <head th:fragment="commonHeader">
        <title th:text="${title}">テストタイトル</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../../../css/normalize.css" th:href="@{/css/normalize.css}" />
        <link rel="stylesheet" href="../../../css/base.css" th:href="@{/css/base.css}" />
        <script th:src="@{/js/lib/jquery/jquery-2.1.3.min.js}" ></script>
    </head>
    <body>
    </body>
</html>
